<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} Comment</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <div id="title">
        <h1>Ask Mate</h1><p id="head">There is no bad question!</p>
    </div>
    <div class="content">
        <h2>{{title}} Comment</h2>

        {% if mode == 'Add_new' %}
            <h3>The {{basis}} you write to comment upon:</h3>
            <p>{{content}}</p>
        {%endif%}
        
        {%if basis=='question' %}
            <form action='/add_comment_to_db/question/{{question_id}}'>
        {%elif basis=='answer' %}
            <form action='/add_comment_to_db/answer/{{answer_id}}'>
        {%elif basis=='comment' %}
            <form action=/update_comment/{{comment_id}}>
        {%endif%}

        <h3>Your comment:</h3>
        <textarea class="text-box" name="comment" minlength="10" autofocus>{{comment}}</textarea>
        <br>
            <input class="bluebutton" type="submit" value="{{button}}">
            <a href="/question/{{question_id}}"><input class="bluebutton" type="button" value="Back to question" ></a>
        </form>
    </div>        
</body>
</html>