<!DOCTYPE html>
<html>
<head>
    <title>New answer</title>
</head>

<body>
    <h1>Question</h1>
    <h2>{{question["title"]}}:</h2>
    <textarea rows="4" cols="50" readonly>{{question["message"]}}</textarea>
    <form method="POST" action='/question/{{ question["id"] }}/new-answer'>
        <p><h2><label for="answer">Your answer:</label></h2></p>
        <textarea rows="4" cols="50" name="answer" id="answer">
        </textarea>
        <p><h2><label for="image">Upload picture:</label></h2></p>
        <input type="file" accept="image/*" name="image" id="image">
        <p><input type="submit" value="Send my answer"></p>
    </form>
</body>
</html>