<!DOCTYPE html>
<html>
<head>
    <title>New answer</title>
</head>

<body>
    <h1>Question</h1>
    <h2>{{question["title"]}}:</h2>
    <p>{{question["message"]}}</p>
    <form method="POST" action='/question/{{ question["question_id"] }}/new-answer'>
        <p>
            <h2>
                <label for="answer">Your answer:</label>
            </h2>
        </p>
        {% if error == "10 char":%}
        Answer must be at least 10 characters long! <br>
        {% endif %}
        <textarea name="answer" id="answer" rows="4" cols="50" placeholder="Although 42 is the aswer to life, the Universe and everything, you can be a bit more specific, and write at least 10 characters long answer." autofocus></textarea>
        <p>
            <h2>
                <label for="image">Upload picture:</label>
            </h2>
        </p>
        <input type="file" accept="image/*" name="image" id="image">
        <p>
            <input type="submit" value="Send my answer">
        </p>
    </form>
</body>
</html>