<!DOCTYPE html>
<html>
<head>
    <title>{{mode}} answer</title>
    <link rel="stylesheet" href="/static/answer.css">
</head>

<body>

    <h1>Question</h1>
    <div>
    <h2>{{question["title"]}}:</h2>
    <p>{{question["message"]}}</p>
    {% if mode == "Edit" %}
    <form method="POST" action='/answer/{{ answer["answer_id"] }}/edit'>
    {% elif mode == "Send new" %}
    <form method="POST" action='/question/{{ question["question_id"] }}/new-answer'>
    {% endif %}
        <p>
            <h2>
                <label for="answer">Your answer:</label>
            </h2>
        </p>
        {% if mode == "Send new" %}
        <textarea name="answer" id="answer" rows="4" cols="46" minlength="10" placeholder="Although 42 is the aswer to life, the Universe and everything, you can be a bit more specific, and write at least 10 characters long answer." autofocus></textarea>
        {% elif mode == "Edit"%}
        <textarea name="answer" id="answer" rows="4" cols="46" minlength="10" autofocus>{{ answer["message"] }}</textarea>
        {% endif %}
        <p>
            <input class="button" type="submit" value="{{ mode }}">
            <a href="/question/{{ question["question_id"] }}"><input class="button" type="button" value="Back to question" ></a>
        </p>
    </form>
    </div>
</body>
</html>