<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} Comment</title>
</head>
<body>
    <h1>{{title}} Comment</h1>

    <h2>The {{basis}} you write this comment upon</h2>
    
    <p>{{content}}</p>
    
    <form action='/question/{{question_id}}'>
        
        <h2><label for="comment">Your comment:</label></h2>
        <textarea name="comment" id="comment" rows="4" cols="46" minlength="10" autofocus></textarea>
        <p>
            <input class="button" type="submit" value="{{button}}">
            <a href="/question/{{question_id}}"><input class="button" type="button" value="Back to question" ></a>
        </p>
    </form>
        
</body>
</html>