<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete answer</title>
</head>

<body>
    <h1>Question</h1>
    <h2>{{question["title"]}}:</h2>
    <p>{{question["message"]}}</p>
    <table>
        <tr>
            <th>Answer:</th>
            <th>Details:</th>
        </tr>
        <tr>
            <td rowspan="3">{{answer["message"]}}</td>
            <td>Answer's id: {{ answer["answer_id"] }}</td>
        </tr>
        <tr>
            <td>Date/time added: {{ date_time }}</td>
        </tr>
        <tr>
            <td>Number of votes: {{ answer[vote_number] }}</td>
        </tr>
    </table>
    <p>Are you sure you want to delete this answer?</p>
    <form method="POST" action="/answer/{{answer['answer_id']}}/delete">
        <input type="submit" value="To the hell with it!">
    </form>
    <a herf="/">
        <input type="button" value="Ooops, not yet">
    </a>
</body>
</html>