<!DOCTYPE html>
<html>

<head>
    <script src="https://use.fontawesome.com/51dda53a19.js"></script>
    <link rel="stylesheet" href="/static/display_a_question.css">
</head>
<body>


    <h1>
        Quesion with Answers
    </h1>
    
    <table border="1" >
        <tr >
            <th colspan="2" class="title">Quesion</th>
            <th colspan="5" class="title class">Programing Languages</th>
        </tr>  
        <tr>
            {% for name_title in question_with_answers.list_of_key_and_title_of_question %}
                <th>
                    {{ name_title[1] }}
                </th>
            {% endfor %}
            <td class="action_button">
                <a href="/question/{{ question_with_answers.question_id }}/delete"> <input class="btn" type="button" value="delete"></a>
            </td>
        </tr>
        <tr>
            <tr>
                {% for key in question_with_answers.list_of_key_of_question %}
                <td>
                    {% if key == "vote_number" %}
                        <a href="/question/{{ question_with_answers.question_id }}/vote-up">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                           {{ question_with_answers.question[key] }}
                        <a href="/question/{{ question_with_answers.question_id }}/vote-down">
                             <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        {{ question_with_answers.question[key] }}
                    {% endif %}
                </td>
                {% endfor %}
           
            </tr>
    </table>

    <table border="1">
        <tr >
            <th colspan="2">Answers</th>
            <th colspan="4">Programing Languages</th>
        </tr>
        <tr>
            {% for name_title in question_with_answers.list_of_key_and_title_of_answers %}
                {% if question_with_answers.direction == "down" %}
                <td><a href="/question/{{ question_with_answers.question_id }}?sort_by={{ name_title[0] }}&direction=up">  {{name_title[1]}} <a></td>
                {% else %}
                <td><a href="/question/{{ question_with_answers.question_id }}?sort_by={{ name_title[0] }}&direction=down">  {{name_title[1]}} <a></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% for row in question_with_answers.answers %}
            <tr>
                {% for name in question_with_answers.list_of_key_of_answer %}
                <td>
                    {% if name == "vote_number" %}
                        <a href="/question/{{ question_with_answers.question_id }}/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/vote-up">
                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                        </a>
                           {{  row[name] }}
                        <a href="/question/{{ question_with_answers.question_id }}/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/vote-down">
                             <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                    {% else %}

                        {{ row[name] }} 
                    {% endif %}
                </td>
                {% endfor%}
                <td class="action_button">
                <a href="/answer/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/edit" ><input class="btn" type="button" value="Edit"></a>
                <a href="/answer/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/delete" ><input class="btn" type="button" value="Delete"></a>
                </td>
            {% endfor %}

            </tr>
    </table>
    <div class="add_new">
    <a href="/question/{{ question_with_answers.question_id }}/new-answer"><input class="button" type="button" value="New Answer"></a><a href="/"> <input  class="button" type="button" value="Back to Questions"></a>
    </div>
</body>

</html>