<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://use.fontawesome.com/51dda53a19.js"></script>
        <title>Ask Mate</title>
    </head>

    <body>
        <div class="container">
            <div class="jumbotron" style="background-color:#337ab7; color:white">
                <h1>Ask Mate</h1>
            </div>
            <div class="panel-group">
                <!-- this displays the question -->
                <div class="panel panel-primary">
                    
                    <div class="panel-heading">
                        <h2>{{ question_with_answers.question["title"]}}</h2>
                    </div>
                    <div class="panel-body">
                        {{ question_with_answers.question["message"]}}<br><br>
                        {% if question_with_answers.tags%}
                            {% for tag in question_with_answers.tags %}
                            <a href="/question/{{ question_with_answers.question_id }}/tag/{{tag.tag_id}}/delete" style="text-decoration:none;">
                                <i class="fa fa-times" aria-hidden="true" style="background-color:{{ tag.color }};color:black;"></i>
                            </a>{{ tag.name }}
                            {% endfor%}
                        {% endif %}<br><br>
                        <span class="glyphicon glyphicon-calendar"></span> {{ question_with_answers.question["submission_time"]}} 
                        <span class="glyphicon glyphicon-eye-open"></span> <span class="badge">{{ question_with_answers.question["view_number"]}}</span>
                        <span class="glyphicon glyphicon-star"></span> <a href="/question/{{ question_with_answers.question_id }}/vote-up"><span class="label label-success">+</span></a>
                            <span class="badge">{{ question_with_answers.question["vote_number"] }}</span>
                                <a href="/question/{{ question_with_answers.question_id }}/vote-down"><span class="label label-danger">-</span></a>
                        
                        <br><br>
                        <a href="/question/{{ question_with_answers.question_id }}/edit"><input class="btn btn-warning" type="button" value="Edit" ></a>
                        <a href="/question/{{ question_with_answers.question_id }}/delete"><input class="btn btn-danger" type="button" value="Delete" ></a>
                        <a href="/question/{{ question_with_answers.question_id }}/new-answer"> <input class="btn btn-success" type="button" value="Add answer"></a>
                        <a href="/question/{{ question_with_answers.question_id }}/new-comment"><input class="btn btn-primary" type="button" value="Add comment"></a>
                        <a href="/"> <input  class="btn btn-primary" type="button" value="Back"></a>
                </div>
                    </div>
                </div>
                <!-- this displays the comments for the question -->
                {% for comment in q_comments %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{comment["message"]}}<br><br>
                        <span class="glyphicon glyphicon-calendar"></span> {{comment["submission_time"]}}
                        <span class="glyphicon glyphicon-pencil"></span> {{comment["edited_count"]}}<br><br>
                        <a href="/comments/{{comment['id']}}/edit"><input class="btn btn-warning" type="button" value="Edit" ></a>
                        <a href="/comments/{{comment['id']}}/delete"><input class="btn btn-danger" type="button" value="Delete" ></a>
                    </div>
                </div>
                {% endfor %}
                <!-- Answers -->
                {% for row in question_with_answers.answers %}
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {{ row["message"] }}<br><br>
                            <span class="glyphicon glyphicon-user"></span> {{ row["user_name"] }}
                            <span class="glyphicon glyphicon-calendar"></span> {{ row["submission_time"] }}
                            <span class="glyphicon glyphicon-star"></span>
                            <a href="/question/{{ question_with_answers.question_id }}/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/vote-up">
                            <span class="label label-success">+</span></a>
                            <span class="badge">{{ row["vote_number"] }}</span>
                            <a href="/question/{{ question_with_answers.question_id }}/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/vote-down">
                            <span class="label label-danger">-</span></a>
                                    <br><br>
                            <a href="/answer/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/edit"><input class="btn btn-warning" type="button" value="Edit"></a>
                            <a href="/answer/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/delete"><input class="btn btn-danger" type="button" value="Delete"></a>
                            <a href="/answer/{{ row[question_with_answers.list_of_key_of_answer[0]] }}/new-comment"> <input class="btn btn-primary" type="button" value="Add comment"></a>
                        </div>
                    </div>
                    <!-- comments for this answer -->
                    {% for comment in a_comments %}
                        {% if comment["answer_id"] == row["answer_id"] %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                {{comment["message"]}}<br><br>
                                <span class="glyphicon glyphicon-calendar"></span> {{comment["submission_time"]}}
                                <span class="glyphicon glyphicon-pencil"></span> {{comment["edited_count"]}}<br><br>
                                <a href="/comments/{{comment['id']}}/edit"><input class="btn btn-warning" type="button" value="Edit" ></a>
                                <a href="/comments/{{comment['id']}}/delete"><input class="btn btn-danger" type="button" value="Delete" ></a>
                            </div>
                        </div>
                        {% endif %} 
                    {% endfor %}
                {% endfor %}
                
            </div>
        </div>
    </body>

</html>