<!DOCTYPE html>
<html>

<head>
    <title>Ask Mate</title>
    <link rel="stylesheet" href="/static/display_a_question.css">
</head>

<body>

<h1>Ask Mate</h1>
<div class="ask_new_question">
<h3>Questions</h3>

<form action="/new-question"><input class="button" type="submit" name="addnew" id ="addnew" value="Ask new Question"/></form>
</div>
<table border="1">
    {% for col in ['ID', 'Question', 'Date', 'Number of Views','Votes'] %}
        <th>
            {{col}} 
            <a href="/extend/{{col}}?{{url}}">
                {% if col + '=asc' in url %}
                    <img src="/static/up.png" width="20"></img>
                {% elif col + '=desc' in url %}
                    <img src="/static/down.png" width="20"></img>
                {% else %}
                    <img src="/static/sort.png" width="20"></img>
                {% endif %}
            </a>
        </th>
    {% endfor %}
        <th>Image</th>
        <th>Edit</th>
    </tr>
    {% for question in questions%}
        <tr>
            <td>{{question.question_id}}.</td>
            <td><a href="/question/{{question.question_id}}">{{question.title}}</a></td>
            <td>{{question.submisson_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td>{{question.image}}</td>
            <td>
                <a href="/question/{{question.question_id}}/edit">
                    <img src="/static/edit.png" width="20"></img>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tr>
</table>

</body>

</html>
