<!DOCTYPE html>
<html lang="en">

<head>
    <head>
    <script src="https://use.fontawesome.com/51dda53a19.js"></script>
    <link rel="stylesheet" href="/static/display_a_question.css">
    <title>{{title}}</title>
</head>

<body>
    <h1>{{title}}</h1>

    <table border='2'>
            <tr>
                {% for h in header %}
                    <th>{{h}}</th>
                {% endfor %}
            </tr>
        {% for row in table %}
            <tr>
                {% for datacell in row %}
                    <td>{{datacell}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    
    <a href='/list' name='returnbutton'><input type='button' class="button" value='Return to Questions'></a>
    
</body>

</html>