<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    
    <form action='/registration/save_user' method='POST'>
        
        <p><label for='username'>Account name</label></p>
        <p><input type='text' name='username' id='username' required></p>
        
        <p><input type='submit' value='Register'></p>
    </orm>

</body>

</html>