<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ask Mate</title>
    <link rel="stylesheet" href="/static/display_a_question.css">
    <script src="https://use.fontawesome.com/51dda53a19.js"></script>
</head>
<body>
    <h1>Tags</h1>
    <table border="1">
        {% for tag in number_of_question_with_tags%}
        <tr>
            <td>
                <i class="fa fa-square" aria-hidden="true" style="color:{{ tag.color }};font-size:40px">
            </td>
            <td>
                {{ tag.name}}
            </td>
            <td>
                {{ tag.question_number }}
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/create_new_tag"><input type="button" class="button" value="Create new tag"></a>
    <a href='/list'><input type='button' class="button" value='Return to Questions'></a>
</body>
</html>